@()(implicit flash: Flash, messages: Messages, ac: controllers.AppContext, req: play.api.mvc.RequestHeader)

@app.common.main("index") { } {
  @base.common.components.container() {    
   
      <h2 class="mb-4 mt-2 text-center">Официальный сайт Blockwit</h2>  
      <p>Уважаемые участники группы <a href="https://t.me/blockchainwitness">Blockchain's Witnesses</a>!
      <p>На сегодняшний день в группе увеличислось количество спама от новых пользователей. В результате чего администраторам группы
       приходится все больше тратить своего времени на модерацию.</p><p>Чтобы сохранить группу в чистоте, а также чтобы развивать проект,  
       мы начинаем предварительную регистрацию. В дальнейшем в группу разрешено будет заходить только тем, кто зарегистрирован 
       на сайте. </p>
      
      <p>Чтобы пройти регистрацию на сегодняшний день достаточно:
        <ul> 
          <li>Пройти регистрацию на данном сайте</li>
          <li>Авторизоваться</li>
          <li>Нажать на круглую иконку с человеком</li>
          <li>Выбрать из меню "настройки"</li>
          <li>В появившейся форме ввести свой логин (именно логин!) Телеграмма</li>
          <li>Нажать кнопочку "Обновить"</li>
        </ul>
      </p>
      
      <p>Спасибо за понимание!</p>          
  }
} {

}